.ruby {
  width: 18%;
  display: inline-block;
  padding: 0 5% 5% 0;
  border: 1px dashed orange;
  margin-top: 15%;
  margin-left: 5%;
}

.methods > h2 {
  text-decoration: underline;
  text-align: center;
  color: green;
}
.methods {
display: inline-block;
float: left;
width: 30%;
top: 0px;
font-weight: bold;
border: 1px solid green;
}

.methods > ul > li {
  padding: 8%;
  font-size: 1em;
  display: inline-block;
}

li {
  list-style: none;
}

.iterations {
  display: inline-block;
  float: right;
  width: 40%;
  top: 0px;
  border: 1px solid purple;
  margin-bottom: 0;
  text-align: center;
}

.iterations > h2 {
  text-align: center;
}

.iterations > p {
  display: inline-block;
}

h3 {
  display: inline-block;
}

.loops {
  display: inline-block;
  float: right;
  clear: both;
  width: 35%;
  border: 1px solid red;
  margin-top: -25%;
}

.loops > h2 {
  text-align: center;
}

.loops > ul > li {
  text-decoration: underline;
}

.arrays > h2 {
  text-align: center;
}

.arrays {
  display: inline-block;
  width: 28%;
  position: absolute;
  border: 1px solid blue;
  margin-left: -27%;
}

.create {
  border: 1px solid pink;
  width: 30%;
  position: absolute;
  margin-top: -10%;
}
.create > h2 {
  text-align: center;
}

.classes {
  border: 1px solid yellow;
  margin-top: 3%;
}