#content {
  width: 30%;
  float: left;
  clear: both;
}

#content>ul {
  width: 75%;
  text-align: left;
}

#content>ul>li {
  background-color: black;
  list-style: none;
  padding: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

/*post-specific*/

#blogpost {
margin-top: -20%;
}

h1 {
  text-decoration: underline;
}

section {
  width: 110%;
}