body {
  font-family: Verdana;
  background-image: none;
}

#content {
  padding-left: 30%;
  color: black;
}

h1 {
  padding-top: 5%;
  font-size: 1em;
}

#content > a {
  margin-right: 10%;
}

#links {
  margin-bottom: 7%;
  color: black;
  background-color: black;
  width: 60%;
  padding: 2%;
}

#links>a {
  padding-left: 5%;
  padding-right: 5%;
}