nav>a {
  padding-right: 200px;
  padding-left: 200px;
}

nav {
  position: fixed;
  background-color: #e06c83;
  padding: .5%;
  width: 100%;

}

#container {
  height: 100%;
  width: 100%;
}

#main {
  padding-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  font-family: Verdana;
  height: 60px;
  width: 100%;
}

body {
  background-image: url(../home.jpg);
  background-repeat: no-repeat;
  padding: 10px;
  padding-bottom: 60px;
  font-family: Verdana;
}

a:link {
  text-decoration: none;
  color: #f5c74b;
}

a:visited {
  text-decoration: none;
  color: #f5c74b;
}

a:hover {
  text-decoration: underline;
  color: #f5c74b;
}

a:active {
  text-decoration: none;
  color: orange;
}