#navbar>nav>ul {
  list-style-type: none;
}
#navbar>nav>ul>li {
  margin-top: 105%;
  margin-bottom: 105%;
}

#navbar {
  position: fixed;
  background-color: black;
  width: 11%;
  padding: .5%;
  text-align: left;
  border-radius: 0%;
  float: left;
  clear: both;
}

#content {
  padding-left: 35%;
  padding-top: 8%;
}

#container {
  height: 100%;
  width: 100%;
}

#main {
  padding-bottom: 60px;
}

#footer {
  position: fixed;
  bottom: 0;
  font-family: Verdana;
  height: 5%;
  width: 100%;
}

body {
/*  background-image: url(../pink_tree.jpg);
  background-repeat: no-repeat;
  background-size: contain;*/
  padding: 10px;
  padding-bottom: 60px;
  font-family: Verdana;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #E25190;
}

a:active {
  text-decoration: none;
  color: white;
}