#content {
  width: 30%;
  float: left;
  clear: both;
}

#content>ul {
  text-align: center;
  list-style-type: none;
  margin-left: -10%;
}

#content>ul>li {
  background-color: black;
  float: left;
  height: 120px;
  width: 120px;
  margin:2%;
}

#content>ul>li>a>img {
  height: 120px;
  width: 120px;
}

#content>h1 {
  margin-top: -15%;
  margin-bottom: 20%;
}

#content>table {
  background-color: black;
}

#content>table>tr {
  width: 200px;
  }