#content {
  width: 30%;
  float: left;
  clear: both;
}

#content>ul {
  width: 75%;
  text-align: left;
}

#content>ul>li {
  background-color: black;
  list-style: none;
  padding: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

#content>h1 {
  margin-top: -15%;
  margin-bottom: 20%;
}